body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.sect {
  width: max-content;
  height: 50%;
  border-radius: 12px;
  box-shadow: 0 10px 5px 5px rgba(0, 0, 0, 0.182);
  margin-top: 25px;
  padding: 12px;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}
.top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.top select {
  width: 200px;
  height: 30px;
  border-radius: 12px;
}
.hotels {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 40px;
  margin-top: 30px;
  width: max-content;
}
.arrange {
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 2px 2px rgba(0, 0, 0, 0.166);
  padding: 12px;
  border-radius: 12px;
  width: max-content;
  gap: 10px;
  background-color: #f3d9fa;
}
.arrange img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  margin-top: 15px;
}
body {
  display: flex;
  justify-content: center;
}
.arrange:hover {
  background-color: #e599f7;
  scale: 1.1;
  transition: ease-in 100ms;
}
.soon {
  display: flex;
  width: 100%;
  align-items: center;
}
